# dependencies
/node_modules

# next
/.next
/out

# build
/dist

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# db/data artifacts
/data/*.db
/data/*.db-shm
/data/*.db-wal
/exports/*
!/exports/.gitkeep

# test
/coverage
/playwright-report
/test-results
/.npm-cache
*.tsbuildinfo
